body, ul, li, h1, p
{
  margin: 0;
  padding: 0;
  font-size: 1em;
}
ul
{
  list-style-type: none;
}

body
{
  background-color: #000;
  color: #fff;
  font: 18px/1 "HelveticaNeue-Medium", helvetica, arial, sans-serif;
}
#column
{
  position: relative;
  max-width: 768px;
  margin: 0 auto;
/*  outline: 1px dashed red;*/
}
h1,
label
{
  text-align: center;
  text-transform: uppercase;
}
#vote form
{
  float: left;
  width: 100%;
}
body.loading #vote form,
body.loading #progress
{
  opacity: 0.5;
  -webkit-transition: opacity .5s linear;
}
#vote label 
{
  display: block;
  float: left;
  width: 20%;
  margin: 0 0 1em 0;
}
#vote label div
{
  color: #666;
}
#vote label.selected div
{
  color: #93d;
}
#vote label.checked div
{
  color: #f3d;
}
#vote label div:focus
{
  outline: none;
}
#vote label.hover div,
#vote label div:focus
{
  outline: 1px dotted grey;
/*  text-shadow: #fff 0 0 5px, #fff 0 0 20px;*/
}

#vote label.active div
{
  outline: 1px solid white;
/*  text-shadow: #fff 0 0 5px, #fff 0 0 20px, #fff 0 0 80px;*/
}
#vote input
{
  display: none;
}
#vote span
{
  display: block;
}
#vote span:before
{
  content: "★";
  display: block;
  font-size: 6em;
}
#progress
{
  clear: both;
  width: 90%;
  margin: 1em auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#fff));
  -webkit-mask-box-image: url(images/progress_mask.png) 4 4 4 4 stretch;
}
#progress div
{
  height: 12px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6c6), to(#393));
  -webkit-box-shadow: 0 2px 3px #000);
}
#progress div.smooth
{
  -webkit-transition: width .1s linear;
}
#results div.m
{
  position: relative;
  clear: both;
  float: left;
  width: 100%;
/*  outline: 1px dashed red;*/
}
#results div.m.s
{
  border-top: 1px dotted #666;
}
#results div.m.s.h
{
  border-top: 1px dotted #fff;
}
#results div.m > div
{
  position: relative;
  float: left;
  width: 20%;
/*  outline: 1px dashed green;*/
}
#results div.m > div div
{
  height: 4px;
  margin: 0 auto;
  background-color: #fff;
}
#results div.m > div span:before
{
  z-index: 1;
  content: "☆";
  width: 100%;
  display: block;
  position: absolute;
  top: -.5em;
  font-size: 2em;
  color: green;
  text-align: center;
}
#results div.m span.t
{
  position: absolute;
  top: 0px;
  left: -50px;
/*  outline: 1px dashed yellow;*/
}