/* 
  768
  24 720 24
  24 144 144 144 144 144 24
*/

body, html, h1, ul, li
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body
{
  font: 15px/1.2 "HelveticaNeue", helvetica, arial, sans-serif;
}
h1
{
  font: 20px/1 "HelveticaNeue-bold", helvetica, arial, sans-serif;
  letter-spacing: 1px;
}
.index h1
{
  font-size: 60px;
  letter-spacing: 2px;
}
label
{
  font: 15px/1 "HelveticaNeue-Medium", helvetica, arial, sans-serif;
  letter-spacing: 1px;
}
span.timestamp
{
  font: 12px/1 "HelveticaNeue", helvetica, arial, sans-serif;
}

a
{
  color: #ddd;
  text-decoration: none;
}
a:hover
{
  color: #fff;
  text-decoration: underline;
}
a:active
{
  color: #bbb;
}

body,
html
{
  height: 100%;
}
body
{
  background: #000 url(images/bg.png) 0 0 repeat-x;
  color: #fff;
}
body.loading #vote form,
body.loading #progress
{
  opacity: 0.5;
  -webkit-transition: opacity .5s linear;
}
#column
{
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto -26px auto;
}
#column > .clear
{
  height: 26px;
}
#credits
{
  width: 100%;
  height: 18px;
  padding: 4px 0;
  text-align: center;
  color: #666;
}
#credits p
{
  margin: 0 8px;
}

h1
{
  margin: 0 0 -8px 0;
  padding: 12px 0 0 0;
  text-align: center;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}

.index h1
{
  padding-bottom: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.8);
}
#column p
{
  width: 87.5%;
  margin: 1em auto;
}
.index ul
{
  width: 88.5417%;
  margin: 0 auto;
  padding-top: 40px;
}
.index li
{
  float: left;
  width: 50%;
  display: block;
  text-align: center;
}
.index li a
{
  display: block;
  margin: 4px;
  padding: 4px;
  background: #3d3e3f -moz-linear-gradient(top, #3d3e3f, #222);
  background: #3d3e3f -webkit-gradient(linear, left top, left bottom, from(#3d3e3f), to(#222));
  border: 1px solid #666;
  border-color: #666 #555 #444 #555;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 1px 0 #000;
}
.index li a:hover
{
  text-decoration: none;
  -webkit-box-shadow: 0 0 5px #34B4FF;
}
.index li a:active
{
  background: #3d3e3f -moz-linear-gradient(top, #222, #3d3e3f);
  background: #3d3e3f -webkit-gradient(linear, left top, left bottom, from(#222), to(#3d3e3f));
  border-color: #444 #555 #666 #555;
}

#vote form  /* Needed for touch support */
{
  float: left;
  width: 100%;
}
#vote label
{
  float: left;
  width: 18.75%;
  display: block;
  color: #999;
  text-shadow: 0 1px 0 rgba(0,0,0,0.8);
}
#vote span
{
  display: block;
}
#vote label.first,
#vote label.last
{
  width: 21.875%;
}
#vote label.first > span,
#vote label.last > span
{
  width: 85.7143%;
}
#vote label.first > span
{
  margin-left: 14.2857%;
}
#vote label > span
{
  height: 144px;
  background: url('images/star.png') 50% -144px no-repeat;
}
#vote label > span:focus
{
  outline: none;
}
#vote label.hover > span,
#vote label > span:focus
{
  background-position: 50% -288px;
  color: #eee;
}
#vote label.active > span,
#vote label.active > span:focus
{
  background-position: 50% -432px;
}
#vote label.checked > span,
#vote label.selected > span
{
  background-position: 50% -576px;
}
#vote label.checked.hover > span,
#vote label.selected.hover > span,
#vote label.checked > span:focus,
#vote label.selected > span:focus
{
  background-position: 50% -720px;
}
#vote label.checked.active > span,
#vote label.selected.active > span,
#vote label.checked.active > span:focus,
#vote label.selected.active > span:focus
{
  background-position: 50% -864px;
}
#vote input
{
  display: none;
}
#vote label > span > span
{
  padding-top: 116px;
  text-align: center;
  text-transform: uppercase;
}

#progress
{
  clear: both;
  width: 87.5%;
  width: 87.7604%;
  margin: 24px auto;
  background: #383838;
  background: -moz-linear-gradient(top, #282828, #484848);
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#484848));
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#progress div
{
  height: 8px;
  width: 100%;
  background: #0c88d0;
  background: -moz-linear-gradient(top, #0c88d0, #065a8b);
  background: -webkit-gradient(linear, left top, left bottom, from(#0c88d0), to(#065a8b));
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 1px 0 1px rgba(0,0,0,0.2);
}
#progress div.smooth
{
  -webkit-transition: width .1s linear;
}
#results div.minute
{
  position: relative;
  float: left;
  width: 100%;
  clear: both;
}

#results
{
  width: 87.5%;
  margin: 0 auto;
}
#results div.separator
{
  background-color: #222;
}
#results div.minute > div
{
  position: relative;
  float: left;
  width: 20%;
}
#results div.minute > div div
{
  height: 4px;
  margin: 0 auto;
  background-color: #fff;
}
#results div.minute > div span
{
  z-index: 1;
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: -26px;
  background: url('images/star.png') 50% 0 no-repeat;
}
#results div.minute span.timestamp
{
  position: absolute;
  top: -1px;
  left: -48px;
  width: 48px;
  color: #666;
  text-align: center;
}
#results div.hour span.timestamp
{
  color: #888;
}

.clear
{
  clear: both;
}