<div id="vote">
  <form action="<%= votes_path(@room) %>" method="post">
    <label class="first"><div tabindex="0"><input type="radio" name="stars" value="1"><span>Really<br>Sucks</span></div></label>
    <label><div tabindex="0"><input type="radio" name="stars" value="2"><span>Kinda<br>Meh</span></div></label>
    <label><div tabindex="0"><input type="radio" name="stars" value="3"><span>Not<br>bad</span></div></label>
    <label><div tabindex="0"><input type="radio" name="stars" value="4"><span>Rather<br>good</span></div></label>
    <label class="last"><div tabindex="0"><input type="radio" name="stars" value="5"><span>Very<br>awesome</span></div></label>
  </form>
  <div class="clear"></div>
</div>
<div id="progress"><div></div></div>
<div id="results">
</div>