<% @body_class = 'index' %>
<h1><%= @title = 'Room Temperature' %></h1>

<p>Here’s a fun little thing we’ve been working on. It’s not done, but we wanted you to play with it anyway.</p>
<p>It’s pretty simple. Use the stars to rate whatever is going on right now. There’s a progress bar to tell you how much time you have left to make up your mind.</p>
<p>Your vote gets counted with those from others in your room, showing you how great a time you’re all having. :)</p>
<p>This is in beta and won’t look right in older browsers. We only have a few rooms right now. You should eventually be able to create your own rooms, but this will have to do for now.</p>

<p>Enjoy!</p>

<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to room.title, nice_room_path(room.slug) %></li>
  <% end %>
</ul>